body {
    margin: 0;
    padding: 0;
    background: url(../img/lauzas.png) no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

h1 {
    font-size: 6.2rem;
    margin: 0;
    color: rgb(238, 85, 25);
    text-shadow: 0.3rem 0.3rem 0.6rem rgba(241, 118, 18, 0.938);
}

p {
    font-size: 1.9rem;
    line-height: 1.2em;
    color: rgb(235, 131, 14);
}

.description {
    font-size: 1.2rem;
    line-height: 1.5em;
    color: gold;
}

a {
    box-shadow: 0 0.3rem 0.56rem 0.12rem rgba(241, 118, 18, 0.938);
    display: inline-block;
    padding: 0.6rem 1.2rem;
    background-color: #f5ce20;
    color: #e7820e;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 1.2rem;
    border-radius: 0.3rem;
    border: none;
    cursor: pointer;
    max-width: 8.1rem;
    display: block;
    margin: 1.2rem auto 0;

}